/* General Reset */
body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
}

.navbar .logo {
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-links a:hover, .nav-links a.active {
    color: #ffa500;
}

/* About Section */
.about-section {
    padding: 2rem;
    text-align: center;
}

.about-section h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.about-section p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    
}

.about-section .About_description{
    color: #666;
    padding: 0 20%;
    font-size: 0.9rem;
}

/* Team Section */
.team {
    margin-top: 2rem;
}

.team h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.team-members {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.team-member {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease;
}

.team-member:hover {
    transform: translateY(-5px);
}

.team-member img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 1rem 0;
}

.team-member h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.team-member p {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

